<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="MPlayer">
			<action name="Execute">
				<command>gmplayer</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>MPlayer</wmclass>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="config-menu" label="config">
		<item label="obconf">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="lxappearance">
			<action name="Execute">
				<command>lxappearance</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="tint2conf">
			<action name="Execute">
				<command>tint2conf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="cups">
			<action name="Execute">
				<command>xdg-open http://localhost:631/</command>
				<startupnotify>
					<enabled>no</enabled>
					<icon>cups</icon>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="terminal">
			<action name="Execute">
				<command>urxvt</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="web browser">
			<action name="Execute">
				<command>firefox</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>Firefox</wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="file explorer">
			<action name="Execute">
				<command>nautilus --no-desktop --browser</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<separator label="..."/>
		<menu id="apps-multimedia-menu"/>
		<menu id="config-menu"/>
		<separator/>
		<item label="reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="logout">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
